<div id="search-nav" class="p-4 grid justify-items-center">
  <div class="mb-4">
    <input type="search" [(ngModel)]="searchQuery" (input)="searchBooks()" placeholder="Enter book name or author" class="px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-purple-500">
  </div>

  <ng-container *ngIf="searchResult.length > 0; else noResult">
    <h3 class="text-xl font-bold mb-2">
      Search Result
    </h3>
    <app-books [filteredBooks]="searchResult"></app-books>
  </ng-container>

  <ng-template #noResult>
    <p class="text-red-500">No books found</p>
  </ng-template>

  <ng-template #isLoading>
    <p class="text-gray-500">Loading...</p>
  </ng-template>
</div>
