<div class="cart-container">
  <button class="cart-toggle-button" (click)="toggleCart()"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgod-79GgFjBbJb-LYmrfPUm3S_MXk3mReBipwcm8Wdw&s" width="50px"></button>

  <div class="visible-cart-class" *ngIf="isVisible">
  <h1>Cart</h1>
  <table class="cart-table">
    <thead>
      <tr>
        <th class="left-align">Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of getCart(); let i=index">
        <td>
          <img src="{{ item.book.src }}" alt="{{ item.book.name }}" width="50px" class="book-image">
          <div class="book-details">
            <h2>{{ item.book.name }}</h2>
            <h5>By</h5>
            <h4>{{item.book.author}}</h4>
          </div>

        </td>
        <td>

          {{ item.quantity }}
          <button (click)="addBook(item)">+</button>
        </td>
        <td>{{ item.book.amount | currency:'INR' }}</td>
        <td>{{ item.quantity * item.book.amount | currency:'INR' }}</td>
        <td><button (click)="removeBook(item)">Remove</button></td>
      </tr>
      <tr>
        <td colspan="3" class="total-label">Total:</td>
        <td class="total-value" colspan="2">{{ total() | currency:'INR' }}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
